{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
    <h1>Gestions des catégories d'annonces</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a role="button" href="{{ path('admin_category_add') }}" class="btn btn-primary">Ajouter</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a role="button" href="{{ path('admin_category_edit',{id:category.id}) }}" class="btn btn-primary">Modifier</a>
                    <a role="button" onclick="return confirm('Etes vous sur de vouloir supprimer la catégorie {{ category.name }}')" href="{{ path('admin_category_delete',{id:category.id,_token:csrf_token('delete-category-' ~ category.id)}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
