{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Gestions des utilisateurs admins</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a role="button" href="{{ path('admin_user_add') }}" class="btn btn-primary">Ajouter</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
        <tr>
            <td>{{ admin.id }}</td>
            <td>{{ admin.username }}</td>
            <td>{{ admin.email }}</td>
            <td>
                <a role="button" href="{{ path('admin_user_edit',{id:admin.id}) }}" class="btn btn-primary">Modifier</a>
                {% if app.user.id != admin.id %}
                    <a role="button" onclick="return confirm('Etes vous sur de vouloir supprimer l\'utilisateur {{ admin.username }}')" href="{{ path('admin_user_delete',{id:admin.id,_token:csrf_token('delete-user-' ~ admin.id)}) }}" class="btn btn-danger">Supprimer</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
